/* Main */

html {
	background: #AAC2D9;
	background-size: auto;
	overflow-y: scroll;
	height: 100%;
	min-height: 100%;
}

body {
	color: #30547F;
	width: 1002px;
	margin: 0 auto;
}

h1 {
	margin: 15px 0 30px;
}

h2,
p {
	margin: 15px 0;
}

h2 {
	border-bottom: 1px dotted #5D7FA6;
	margin-top: 30px;
}

/* Accessibles */

#top {
	position: absolute;
	left: -9999em;
	font-size: 1px;
}

/* Grid */

#article {
	float: left;
	*display: inline;
	width: 726px;
	padding: 12px;
	text-shadow: 0 1px 1px #dddddd;
}

#nav {
	background: #5D7FA6;
	float: right;
	*display: inline;
	width: 198px;
	padding: 105px 12px 12px;
	margin: 0 12px;
}

#footer {
	clear: both;
	text-align: center;
}

/* Navigation */

#nav li {
	padding: 0.5ex 0;
}
#nav a {
	color: #D6D6DE;
	text-decoration: none;
}
#nav a:focus,
#nav a:hover,
#nav a:active {
	color: #ffffff;
}

/* Code highlights */

div.highlight {
	background: #eee;
	border: 1px solid #5D7FA6;
	font-size: 13px;
	margin: 30px 0;
	overflow: auto;
	padding: 12px;
	text-shadow: none;
}
