body {
	font: 16px/1.4 "helvetica neue", arial, helvetica, sans-serif;
	*font-size:small;
	*font:x-small;
}

select,
input,
button,
textarea {
	font: 99% "helvetica neue", arial, helvetica, sans-serif;
}

table {
	font-size: inherit;
	font: 100%;
}

code,
kbd,
samp,
tt {
	font-family: monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
	*font-size: 108%;
	line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/*font-family: georgia, times, serif;*/
	font-weight: bold;
}

h1 {
	font-size: 38px;
}

h2 {
	font-size: 24px;
}

#footer {
	font-size: 9px;
}

#top {
	font-size: 12px;
}