<!DOCTYPE html>
<!--[if IE ]>
<html lang="en-gb" class="ie">
<![endif]-->
<!--[if !IE]>-->
<html lang="en-gb">
<!--<![endif]-->
    <head>
        <script type="text/javascript">
            document.documentElement.className += ' js';
        </script>
        <meta charset="utf-8">
        <meta name="description" content="This document is a set of standards,
        best practices, and guidelines for front end development. This
        documentation has been collated through many years experience by a
        multitude of front end developers, front end architects, and front end
        development managers.">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="assets/css/reset.css">
        <link rel="stylesheet" href="assets/css/fonts.css">
        <link rel="stylesheet" href="assets/css/core.css">
        <link rel="stylesheet" href="assets/css/syntax.css">
        <link rel="stylesheet" href="assets/css/debug.css">
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-61273-4']);
            _gaq.push(['_trackPageview']);
            _gaq.push(['_trackPageLoadTime']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <div id="top">
            <a href="#nav">Skip to navigation</a>
        </div>
        
        <div id="article" role="main">
            {{ content }}
        </div>
        
        {% include nav.html %}
        
        {% include foot.html %}
    </body>
</html>